<ul class="media-list">
  
<% shoku-tabi.each do |shoku-tabi| %>

    
<% user = shoku-tabi.user %>

    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="
<%= gravatar_url(user, options = { size: 50 }) %>
" alt="">
      </div>
      <div class="media-body">
        <div>
          
<%= link_to user.name, user_path(user) %>
 <span class="text-muted">posted at 
<%= shoku-tabi.created_at %>
</span>
        </div>
        <div>
          <p>
<%= shoku-tabi.content %>
</p>
        </div>
      </div>
    </li>
  
<% end %>

  
<%= paginate shoku-tabi %>

</ul>